/*CSS REST*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*PAGE LAYOUT STYLING*/

:root {
	--montserrat: 'Montserrat', sans-serif;
	--quicksand: 'Quicksand', sans-serif;

	/*STRAWBERRY ICECREAM*/
    --ivory: rgb(233, 234, 224);
    --roseQuartz: rgb(247, 190, 192);
    --roseRed: rgb(200, 82, 80);
	--red: rgb(231, 98, 95);
	
	/*THE BLUES*/
	--navyBlue: rgb(0, 0, 128);
	--royalBlue: rgb(65, 105, 225);
	--blueGrotto: rgb(4, 118, 208);
	--babyBlue: rgb(137, 207, 240);
	--softBlue: rgb(196, 236, 255);

	--flashyGreen: rgb(44, 155, 44);
	--blueGradient: linear-gradient(150deg, var(--navyBlue) 40%, var(--blueGrotto));
	--blueGradientFlipped: linear-gradient(60deg, var(--navyBlue) 40%, var(--blueGrotto));
	--cardShadow: 0 0 20px 1px rgba(105, 105, 105, 0.15);

	--pushTime: 600ms;
	--boxRadius: 8px;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
}

.content {
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	max-width: 1000px;
	width: 100%;
}

section {
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	background: #fff;
	font-family: var(--quicksand);
}

.section-header {
	font-family: verdana;
	font-size: 2.5rem;
	font-weight: 800;
	font-variant: small-caps;
	color: var(--blueGrotto);
}

.pushed {
	transform: translateX(-100%);
}

#wrapper {
	z-index: 1;
	flex-direction: column;
	transition: var(--pushTime);
	background: #fff;
}

#scroll-top-button {
	position: fixed;
	align-items: center;
	justify-content: center;
	bottom: 0;
	right: 0;
	z-index: 10;
	padding: 0;
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 50% 0 0 0;
	box-shadow: 0 0 20px 1px rgba(105, 105, 105, 0.3);
	background: #fff;
	cursor: pointer;
}

#scroll-top-button::before {
	content: '';
	height: 20px;
	width: 20px;
	border: solid #000;
	border-radius: 0 var(--boxRadius) 0 0;
	border-width: 3px 3px 0 0;
	transform: rotate(-45deg) /*translate(-65%, 65%)*/;
}

.button {
	padding: 15px 20px 15px;
	border: none;
	border-radius: var(--boxRadius);
	font-family: var(--montserrat);
	font-size: 1.1rem;
	font-weight: 800;
	font-variant: small-caps;
	cursor: pointer;
}

.bold-text {
	font-weight: 1000;
}

/*MOBILE-NAV*/

#hamburger-menu {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 10;
	flex-direction: column;
	padding: 10px 20px 0;
	width: 100vw;
	transition: var(--pushTime);
}

#hamburger-button, #exit-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 20px 20px 0 0;
	width: 30px;
	border: none;
	background: none;
	cursor: pointer;
}

#hamburger-button {
	flex-direction: column;
	justify-content: space-between;
	z-index: 8;
	height: 21px;
}

#hamburger-button > span {
	display: block;
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: var(--boxRadius);
}

#exit-button {
	height: 30px;
}

#exit-button::before, #exit-button::after {
	content: '';
	position: absolute;
	top: 50%;
	height: 3px;
	width: 100%;
	border-radius: var(--boxRadius);
	background: #000;
}

#exit-button::before {
	transform: rotate(45deg);
}

#exit-button::after {
	transform: rotate(-45deg);
}

#pullout-menu {
	overflow: hidden;
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	flex-direction: column;
	padding: 20px 0 20px 20px;
	width: 100%;
	background: #fff;
	border-radius: var(--boxRadius);
	box-shadow: 0 0 20px 1px rgba(105, 105, 105, 0.3);
	font-family: verdana;
	font-size: 1.7rem;
	font-weight: 800;
	font-variant: small-caps;
	color: #000;
}

#pullout-menu > li {
	margin-bottom: 20px;
}

#pullout-menu > li > a {
	cursor: pointer;
}

/*HEADER*/

.rounded-header {
	position: relative;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding: 20px 20px 120px;
	background: var(--blueGradient);
	font-family: var(--quicksand);
	color: #fff;
    clip-path: ellipse(85% 100% at 60% 0%);
}

.rounded-header > .content > * {
	margin-right: auto;
	padding-bottom: 20px;
}

#header-nav {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 40%;
	padding: 50px 20px 0;
}

#header-nav > li {
	margin-right: 50px;
}

#header-nav > li > a {
	font-family: verdana;
	font-size: 1.25rem;
	font-weight: 800;
	font-variant: small-caps;
	transition: 400ms;
	cursor: pointer;
}

#header-nav > li > a:hover {
	color: var(--babyBlue);
}

.header-title {
	font-size: 2rem;
	font-weight: 800;
}

.header-description {
	line-height: 1.6rem;
}

.header-buttons {
	flex-direction: row;
}

.header-button {
	box-sizing: border-box;
	margin-right: 20px;
	background: #fff;
	color: #000;
}

.header-button:nth-child(2) {
	background: var(--babyBlue);
	color: var(--navyBlue);
}

.header-img {
	bottom: 0;
	left: 50%;
	position: absolute;
}

/*ABOUT*/

#about-content {
	flex-direction: column;
	align-items: flex-start;
	margin-top: 30px;
	max-width: 600px;
	text-align: center;
}

#about-content > img {
	margin: 20px auto 0;
	height: 100px;
	width: 100px;
}

#about-content > h2 {
	margin: 0 auto 20px;
	font-size: 1.3rem;
	font-weight: 800;
	color: rgb(51, 51, 51);
}

#about-content > span {
	margin: 0 auto 20px;
	color: rgb(73, 73, 73);
	line-height: 1.5rem;
}

#about-content > span > span {
	font-weight: 600;
	color: var(--blueGrotto);
}

.large-subtitle > .flex {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: verdana;
	font-size: 2.8rem;
	font-weight: 400;
	font-variant: small-caps;
	color: var(--blueGrotto);
	text-align: center;
	line-height: 2.5rem;
}

.large-subtitle > div > .bold-text {
	font-size: 3rem;
	color: var(--navyBlue);
}

/*SERVICES*/

#services-content {
	flex-direction: column;
	padding-bottom: 50px;
}

#services-content > span {
	margin-top: 20px;
	max-width: 400px;
}

.information-card-container {
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.information-card {
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 50px;
	min-height: 300px;
	width: 100%;
	max-width: 400px;
	background: rgb(243, 243, 243);
	border: 1px rgb(228, 228, 228) solid;
	border-radius: var(--boxRadius);
	box-shadow: var(--cardShadow);
	font-family: var(--montserrat);
}

.featured {
	background: var(--softBlue);
	border: 1px var(--babyBlue) solid;
}

.information-card-header {
	padding: 15px 0;
	font-weight: 500;
	color: rgb(129, 129, 129);
}

.featured > .information-card-header {
	color: var(--royalBlue);
}

.information-card-content {
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 20px 0;
	height: 100%;
	width: 100%;
	background: #fff;
	border-top: 1px rgb(228, 228, 228) solid;
}

.featured > .information-card-content {
	border-top: 1px var(--babyBlue) solid;
}

.information-card-content > button {
	margin: auto 0 20px;
	background: rgb(243, 243, 243);
	border: 1px rgb(228, 228, 228) solid;
	font-weight: 400;
	color: rgb(129, 129, 129);
	transition: 300ms;
}

.featured > .information-card-content > button {
	background: var(--softBlue);
	border: 1px var(--babyBlue) solid;
	color: var(--royalBlue);
}

.information-card-content > button:hover {
	border-color: rgb(210, 210, 210);
	color: rgb(111, 111, 111);
}

.featured > .information-card-content > button:hover {
	border-color: rgb(119, 189, 222);
	color: rgb(47, 87, 207);
}

.new-price {
	padding-bottom: 5px;
	font-size: 2rem;
	color: var(--flashyGreen);
}

.old-price {
	color: rgb(190, 190, 190);
	text-decoration: line-through;
}

.price {
	padding: 10px 0 20px;
	font-size: 1.8rem;
}

.small-dollar-sign {
	font-size: 60%;
	vertical-align: top;
}

.small-text {
	font-size: 60%;
}

.includes {
	margin: 0 auto 20px;
}

.includes > li {
	padding-bottom: 10px;
	font-size: 1.25rem;
	line-height: 2rem;
	color: rgb(58, 58, 58);
}

.includes > li > img {
	padding-right: 15px;
	height: 1.1rem;
}

.flashy {
	font-weight: 800;
	color: var(--flashyGreen);
}

/*MAP*/

.map {
	box-sizing: border-box;
	margin-top: 120px;
	padding: 0 30px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.map-part {
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	height: 300px;
	width: 100%;
	max-width: 350px;
	background: #fff;
	border: 5px var(--babyBlue) dashed;
}

.map-part:first-child {
	border-left: 0;
}

.map-part:nth-child(2n) {
	border-radius: 50% 0 0 50%;
	border-right: 0;
	transform: translate(-5px, -3px);
}

.map-part:nth-child(2n):before, .map-part:nth-child(2n):after {
	content: '';
	position: absolute;
	width: 50%;
	background: #fff;
}

.map-part:nth-child(2n):before {
	height: 8px;
	top: -6px;
	right: -5px;
}

.map-part:nth-child(2n):after {
	height: 10px;
	top: -10px;
	left: -5px;
}

.map-part:nth-child(2n - 1) {
	border-left: none;
	border-radius: 0 50% 50% 0;
}

.map-part:nth-child(2n - 1):after, .map-part:nth-child(2n - 1):before {
	content: '';
	position: absolute;
	width: 50%;
	background: #fff;
}

.map-part:nth-child(2n - 1):after {
	height: 7px;
	top: -5px;
	left: -5px;
}

.map-part:nth-child(2n - 1):before {
	height: 12px;
	top: -15px;
	right: -5px;
}

.map-part:last-child {
	border-bottom: 0;
}

.map-step {
	z-index: 3;
	top: 0;
	position: absolute;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 80px;
	background: #e8f4fa;
	border: #def0f8 solid;
	border-radius: 50%;
	font-size: 2rem;
	text-align: center;
	color: var(--blueGrotto);
	transform: translateY(-50%);
}

.map-text {
	z-index: 4;
	margin: auto;
	width: 65%;
	text-align: center;
}

.map-img {
	position: absolute;
	z-index: 3;
	height: 105px;
	width: 105px;
}

.map-img-left {
	left: 0;
	transform: translateX(-50%);
}

.map-img-right {
	right: 0;
	transform: translateX(50%);
}

/*FOOTER*/

#footer {
	box-sizing: border-box;
	padding: 120px 20px 0;
	width: 100%;
	background: var(--blueGradientFlipped);
	clip-path: ellipse(150% 100% at 60% 100%);
}

#footer h2 {
	margin-top: 30px;
	color: #fff;
}

.footer-contact-form {
	box-sizing: border-box;
	flex-direction: column;
	margin: 40px 0;
	padding: 20px;
	width: 100%;
	max-width: 600px;
	border-radius: var(--boxRadius);
	background: #fff;
	box-shadow: var(--cardShadow);
}

.footer-contact-form > * {
	margin-bottom: 20px;
	border-radius: var(--boxRadius);
}

.footer-contact-form > input, .footer-contact-form > textarea {
	padding: 10px 10px;
	border: 1px rgb(216, 216, 216) solid;
	font-family: var(--quicksand);
	font-size: 1rem;
	transition: 300ms;
}

.footer-contact-form > input::placeholder, .footer-contact-form > textarea::placeholder {
	color: rgb(168, 168, 168);
}

.footer-contact-form > input:focus, .footer-contact-form > textarea:focus {
	border-color: rgb(151, 151, 151);
}

.footer-contact-form > textarea {
	height: 200px;
	resize: none;
}

.footer-contact-form > input[type = submit] {
	position: relative;
	box-sizing: border-box;
	padding: 15px 0;
	width: 150px;
	background: #fff;
	border: 1px rgb(216, 216, 216) solid;
	color: rgb(168, 168, 168);
	transition: 300ms;
	cursor: pointer;
}

.footer-contact-form > input[type = submit]:hover {
	background: rgb(250, 250, 250);
	border-color: rgb(151, 151, 151);
	color: rgb(151, 151, 151);;
}

footer {
	justify-content: center;
	box-sizing: border-box;
	padding: 20px 30px;
	width: 100%;
	font-family: var(--quicksand);
	color: #fff;
}

@media only screen and (min-width: 600px) {
	.map-part {
		height: 400px;
		width: 100%;
		max-width: 400px;
	}

	#about-content > span {
		font-size: 1.25rem;
	}
}

@media only screen and (min-width: 1100px) {
	#hamburger-menu, #hamburger-button	{
		display: none;
	}
	
	#hamburger-menu.visible {
		display: none;
		opacity: 0;
	}

	#header-nav {
		display: flex;
	}

	.featured {
		transform: scale(1.05);
		z-index: 2;
	}
	
	#about-content > img {
		margin-top: 60px;
	}

	#about-content > span:nth-child(n + 3) {
		max-width: 400px;
	}

	#services-content > span {
		max-width: 100%;
	}

	.information-card-container {
		flex-direction: row;
	}

}

@media only screen and (min-width: 2000px) {
	#header-nav {
		display: none;
	}
}